html,
body {
    height: 100%;
    font-family: "Open Sans", Arial, sans-serif;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 10px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.text-info-register{
    font-weight: normal;
    font-style: italic;
}

.front-banner {
    width: 100%;
    height: 550px;
    background: url('/images/front-page-banner.jpg') no-repeat;
    padding: 70px;
    margin: -20px 0px;
    background-size: 100%;
    background-position: 0px -28px;
    border-bottom: 2px solid black;
}

.front-banner h1 {
    color: white;
    font-size: 57px;
    font-weight: bold;
    text-shadow: 2px 2px black;
}

.front-banner p.lead {
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px black;
}

.btn-front {
    font-size: 25px;
}

.rest-table > tbody > tr > td {
    min-height: 200px !important;
    text-align: center;
    vertical-align: middle;
    padding: 25px;
}

.rest-table > thead > tr > th {
    text-align: center;
    padding: 10px;
}

.rest-table > tbody > tr > td:nth-child(2) {
    padding: 25px 5px;
}

.rest-table > tbody > tr > td:first-child > a {
    color: #266296;
    text-decoration: none;
    font-size: 1.1em;
}